target/
!.mvn/wrapper/maven-wrapper.jar

### Java template
*.class

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.log

### Temporary
Dockerfile
src/*/resources/mapping
src/test/resources/request
src/test/resources/templates
README.md

